* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color:  #0066ff;
    border: 0;
    animation-name: move-box;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-box {
    
    from {
        background-color:  #0066ff;
        font-size: 20px;
    }

    to {
        background-color: #ff4949;
        font-size: 30px;
    }
}